[submodule "proj1/external/imgui"]
	path = proj1/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Project/external/imgui"]
	path = Project/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Project/external/nlohmann_json"]
	path = Project/external/nlohmann_json
	url = https://github.com/nlohmann/json.git
